<div class="visEditorSidebar__section">
  <div class="">
    <h4 class="euiTitle euiTitle--xsmall">
      Formulas
    </h4>
  </div>
  <div class="euiSpacer euiSpacer--s"></div>
  <div class="euiForm">
    <div ng-repeat="formula in editorState.params.metric.formulas">
      <div class="euiFormRow">
        <div class="euiFormRow__labelWrapper">
          <label class="euiFormLabel euiFormRow__label"
            i18n-id="visTypeMetric.params.label"
            i18n-default-message="Label"
          >
          </label>
        </div>
        <div class="euiFormRow__fieldWrapper">
          <div class="euiFormControlLayout">
            <div class="euiFormControlLayout__childrenWrapper">
              <input type="text" class="euiFieldText" ng-model="formula.label">
            </div>
          </div>
        </div>
      </div>
      <div class="euiSpacer euiSpacer--s"></div>
      <div class="euiFormRow">
        <div class="euiFormRow__labelWrapper">
          <label class="euiFormLabel euiFormRow__label"
            i18n-id="visTypeMetric.params.formula"
            i18n-default-message="Formula">
          </label>
        </div>
        <div class="euiFormRow__fieldWrapper">
            <textarea
              class="euiTextArea euiTextArea--resizeVertical"
              rows="2"
              placeholder="Formula"
              ng-model="formula.formula"
            >
            </textarea>
        </div>
      </div>
    </div>
    <div class="euiSpacer euiSpacer--s"></div>
    <div class="euiFormRow__fieldWrapper">
      <div class="euiCheckbox">
        <input class="euiCheckbox__input" type="checkbox" id="i41f88a01-96d1-11ea-8469-091fc00e6b2a" ng-model="editorState.params.metric.percentageMode">
        <div class="euiCheckbox__square"></div>
        <label class="euiCheckbox__label" for="i41f88a01-96d1-11ea-8469-091fc00e6b2a" i18n-id="visTypeMetric.params.percentageModeLabel"
        i18n-default-message="Percentage Mode"></label>
      </div>
    </div>
    <div class="euiSpacer euiSpacer--s"></div>
    <div class="euiFormRow__fieldWrapper">
      <div class="euiCheckbox">
        <input class="euiCheckbox__input" type="checkbox" id="i41f88a01-96d1-11ea-8469-091fc00e6basd" ng-model="editorState.params.metric.labels.show">
        <div class="euiCheckbox__square"></div>
        <label class="euiCheckbox__label" for="i41f88a01-96d1-11ea-8469-091fc00e6basd" i18n-id="visTypeMetric.params.showLabelsLabel"
        i18n-default-message="Show Labels"></label>
      </div>
    </div>
    <div class="euiSpacer euiSpacer--s"></div>
    <div class="euiFormRow__fieldWrapper">
      <div class="euiAccordion" ng-class="{'euiAccordion-isOpen': !!showColorRange}">
        <div class="euiAccordion__triggerWrapper">
          <button
            class="euiAccordion__button"
            type="button"
            ng-click="showColorRange = !showColorRange;"
            aria-expanded="{{!!showColorRange}}"
            aria-controls="metricOptionsRanges"
            aria-label="{{::'visTypeMetric.params.ranges.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle ran  ge options' } }}"
          >
            <span class="euiAccordion__iconWrapper">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                class="euiIcon euiIcon--medium euiAccordion__icon" focusable="false" role="img"
                aria-hidden="true">
                <path fill-rule="nonzero" d="M5.157 13.069l4.611-4.685a.546.546 0 000-.768L5.158 2.93a.552.552 0 010-.771.53.53 0 01.759 0l4.61 4.684c.631.641.63 1.672 0 2.312l-4.61 4.684a.53.53 0 01-.76 0 .552.552 0 010-.771z"></path>
              </svg>
            </span>
            <span
              class="euiIEFlexWrapFix"
              i18n-id="visTypeMetric.params.rangesTitle"
              i18n-default-message="Ranges"
            >
            </span>
          </button>
        </div>
        <div class="euiAccordion__childWrapper" id="metricOptionsRanges">
          <div>
            <div class="">
              <div class="euiSpacer euiSpacer--m"></div>
              <div class="euiForm">
                <div class="euiFormRow__labelWrapper">
                  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--directionRow euiFlexGroup--responsive" style="align-items: center;">
                    <div class="euiFlexItem euiFlexItem--flexGrowZero">
                      <label class="euiFormLabel euiFormRow__label"
                        id="metricOptionsCustomRangeFrom"
                        i18n-id="visTypeMetric.params.ranges.fromLabel"
                        i18n-default-message="From"
                      >
                      </label>
                    </div>
                    <div class="euiFlexItem euiFlexItem--flexGrowZero">
                      /
                    </div>
                    <div class="euiFlexItem euiFlexItem--flexGrowZero">
                      <label class="euiFormLabel euiFormRow__label"
                        id="metricOptionsCustomRangeTo"
                        i18n-id="visTypeMetric.params.ranges.toLabel"
                        i18n-default-message="To"
                      >
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="euiSpacer euiSpacer--s"></div>
              <div ng-repeat="range in editorState.params.metric.colorsRange track by $index">
                <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--directionRow euiFlexGroup--responsive" style="align-items: center;">
                  <div class="euiFlexItem">
                    <div class="euiFormControlLayout euiFormControlLayout--group euiFormControlLayout--fullWidth euiFormControlLayoutDelimited">
                      <div class="euiFormControlLayout__childrenWrapper">
                        <input aria-labelledby="metricOptionsCustomRangeFrom"
                          ng-model="range.from"
                          type="number"
                          class="euiFieldNumber euiFormControlLayoutDelimited__input"
                          name="range.from"
                          greater-or-equal-than="getGreaterThan($index)"
                          required
                          placeholder="From" 
                          step="any"/>
                        <div class="euiText euiText--small euiFormControlLayoutDelimited__delimeter">
                          <div class="euiTextColor euiTextColor--subdued">→</div>
                        </div>
                        <input
                          aria-labelledby="metricOptionsCustomRangeTo"
                          ng-model="range.to"
                          type="number"
                          class="euiFieldNumber euiFormControlLayoutDelimited__input"
                          name="range.to"
                          greater-or-equal-than="range.from"
                          required
                          placeholdre="To"
                          step="any"/>
                      </div>
                    </div>
                  </div>
                  <div class="euiFlexItem euiFlexItem--flexGrowZero" ng-show="editorState.params.metric.colorsRange.length > 1">
                    <button
                      class="euiButtonIcon euiButtonIcon--danger"
                      type="button"
                      aria-label="Remove range"
                      ng-click="removeRange($index)"
                    >
                      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--medium euiIcon-isLoaded" focusable="false" role="img" aria-hidden="true"><path d="M11 3h5v1H0V3h5V1a1 1 0 011-1h4a1 1 0 011 1v2zm-7.056 8H7v1H4.1l.392 2.519c.042.269.254.458.493.458h6.03c.239 0 .451-.189.493-.458l1.498-9.576H14l-1.504 9.73c-.116.747-.74 1.304-1.481 1.304h-6.03c-.741 0-1.365-.557-1.481-1.304l-1.511-9.73H9V5.95H3.157L3.476 8H8v1H3.632l.312 2zM6 3h4V1H6v2z"></path></svg>
                    </button>
                  </div>
                </div>
                <div class="euiSpacer euiSpacer--m"></div>
              </div>
              <button class="euiButton euiButton--primary euiButton--fullWidth euiButton--small" type="button" ng-click="addRange()">
                <span class="euiButton__content">
                  <span class="euiButton__text"
                    i18n-id="visTypeMetric.params.ranges.addRangeButtonLabel"
                    i18n-default-message="Add Range"
                  ></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="euiSpacer euiSpacer--s"></div>
    <div class="euiFormRow__fieldWrapper" ng-show="editorState.params.metric.colorsRange.length > 1">
      <div class="euiAccordion" ng-class="{'euiAccordion-isOpen': !!showColorOptions}">
        <div class="euiAccordion__triggerWrapper">
          <button
            class="euiAccordion__button"
            type="button"
            ng-click="showColorOptions = !showColorOptions;"
            aria-expanded="{{!!showColorOptions}}"
            aria-controls="metricOptionsColors"
            aria-label="{{::'visTypeMetric.params.color.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle color options' } }}"
          >
            <span class="euiAccordion__iconWrapper">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                class="euiIcon euiIcon--medium euiAccordion__icon" focusable="false" role="img"
                aria-hidden="true">
                <path fill-rule="nonzero" d="M5.157 13.069l4.611-4.685a.546.546 0 000-.768L5.158 2.93a.552.552 0 010-.771.53.53 0 01.759 0l4.61 4.684c.631.641.63 1.672 0 2.312l-4.61 4.684a.53.53 0 01-.76 0 .552.552 0 010-.771z"></path>
              </svg>
            </span>
            <span
              class="euiIEFlexWrapFix"
              i18n-id="visTypeMetric.params.color.colorOptionsTitle"
              i18n-default-message="Color Options"
            >
            </span>
          </button>
        </div>
        <div class="euiAccordion__childWrapper" id="metricOptionsColors">
          <div>
            <div class="">
              <div class="euiSpacer euiSpacer--m"></div>
              <div class="euiForm">
                <div class="euiFormRow" ng-show="editorState.params.metric.colorsRange.length > 1">
                  <div class="euiFormRow__labelWrapper">
                    <label class="euiFormLabel euiFormRow__label"
                      for="metricColorMode"
                      i18n-id="visTypeMetric.params.color.useForLabel"
                      i18n-default-message="Use Color For"
                    >
                    </label>
                  </div>
                  <div class="euiFormRow__fieldWrapper">
                    <div class="euiFormControlLayout__childrenWrapper">
                      <select
                        class="euiSelect"
                        id="metricColorMode"
                        ng-model="editorState.params.metric.metricColorMode"
                        ng-options="mode.id as mode.label for mode in collections.metricColorMode"
                      ></select>
                      <div class="euiFormControlLayoutIcons euiFormControlLayoutIcons--right">
                        <span class="euiFormControlLayoutCustomIcon">
                          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                          class="euiIcon euiIcon--medium euiFormControlLayoutCustomIcon__icon" focusable="false"
                          role="img" aria-hidden="true">
                            <path fill-rule="non-zero" d="M13.069 5.157L8.384 9.768a.546.546 0 01-.768 0L2.93 5.158a.552.552 0 00-.771 0 .53.53 0 000 .759l4.684 4.61c.641.631 1.672.63 2.312 0l4.684-4.61a.53.53 0 000-.76.552.552 0 00-.771 0z"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="euiSpacer euiSpacer--s"></div>
                </div>
                <div class="euiFormRow" ng-show="editorState.params.metric.metricColorMode !== 'None'">
                  <div class="euiFormRow__labelWrapper">
                    <label class="euiFormLabel euiFormRow__label"
                      for="colorSchema"
                      i18n-id="visTypeMetric.params.color.schemaLabel"
                      i18n-default-message="Color Schema"
                    >
                    </label>
                    <div ng-show="customColors" class="euiText euiText--extraSmall">
                      <button
                        class="euiLink euiLink--primary"
                        type="button"
                        ng-click="resetColors()"
                        i18n-id="visTypeMetric.params.color.resetColorDescription"
                        i18n-default-message="reset colors"
                      >
                      </button>
                    </div>
                  </div>
                  <div class="euiFormRow__fieldWrapper">
                    <div class="euiFormControlLayout__childrenWrapper">
                      <select
                        class="euiSelect"
                        id="colorSchema"
                        ng-model="editorState.params.metric.colorSchema"
                        ng-options="mode.id as mode.label for mode in collections.colorSchemas"
                      ></select>
                      <div class="euiFormControlLayoutIcons euiFormControlLayoutIcons--right">
                        <span class="euiFormControlLayoutCustomIcon">
                          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                          class="euiIcon euiIcon--medium euiFormControlLayoutCustomIcon__icon" focusable="false"
                          role="img" aria-hidden="true">
                            <path fill-rule="non-zero" d="M13.069 5.157L8.384 9.768a.546.546 0 01-.768 0L2.93 5.158a.552.552 0 00-.771 0 .53.53 0 000 .759l4.684 4.61c.641.631 1.672.63 2.312 0l4.684-4.61a.53.53 0 000-.76.552.552 0 00-.771 0z"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="euiSpacer euiSpacer--s"></div>
                </div>
                <div class="euiFormRow__fieldWrapper" ng-show="editorState.params.metric.metricColorMode !== 'None'">
                  <div class="euiCheckbox">
                    <input class="euiCheckbox__input" type="checkbox" id="invertColors" ng-model="editorState.params.metric.invertColors">
                    <div class="euiCheckbox__square"></div>
                    <label class="euiCheckbox__label" for="invertColors"
                      i18n-id="visTypeMetric.params.color.reverseSchemaLabel"
                      i18n-default-message="Reverse Color Schema">
                    </label>
                  </div>
                  <div class="euiSpacer euiSpacer--s"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="euiSpacer euiSpacer--s"></div>
    </div>
    <div class="euiFormRow__fieldWrapper">
      <div class="euiAccordion" ng-class="{'euiAccordion-isOpen': !!showStyle}">
        <div class="euiAccordion__triggerWrapper">
          <button
            class="euiAccordion__button"
            type="button"
            ng-click="showStyle = !showStyle;"
            aria-expanded="{{!!showStyle}}"
            aria-controls="metricOptionsStyle"
            aria-label="{{::'visTypeMetric.params.style.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle style options' } }}"
          >
            <span class="euiAccordion__iconWrapper">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                class="euiIcon euiIcon--medium euiAccordion__icon" focusable="false" role="img"
                aria-hidden="true">
                <path fill-rule="nonzero" d="M5.157 13.069l4.611-4.685a.546.546 0 000-.768L5.158 2.93a.552.552 0 010-.771.53.53 0 01.759 0l4.61 4.684c.631.641.63 1.672 0 2.312l-4.61 4.684a.53.53 0 01-.76 0 .552.552 0 010-.771z"></path>
              </svg>
            </span>
            <span
              class="euiIEFlexWrapFix"
              i18n-id="visTypeMetric.params.style.styleTitle"
              i18n-default-message="Style"
            >
            </span>
          </button>
        </div>
        <div class="euiAccordion__childWrapper" id="metricOptionsStyle">
          <div>
            <div class="">
              <div class="euiSpacer euiSpacer--m"></div>
              <div class="euiForm">
                <div class="euiFormRow">
                  <div class="euiFormRow__labelWrapper">
                    <label class="euiFormLabel euiFormRow__label" for="metricColorMode">
                      <span
                        i18n-id="visTypeMetric.params.style.fontSizeLabel"
                        i18n-default-message="Font Size ({fontSize}pt)"
                        i18n-values="{ fontSize: editorState.params.metric.style.fontSize }"
                      >
                      </span>
                    </label>
                  </div>
                  <div class="euiFormRow__fieldWrapper">
                    <div class="euiRangeWrapper euiRange">
                      <div class="euiRangeTrack" aria-hidden="true">
                        <input id="metricColorMode" type="range" class="euiRangeSlider" min="12" max="120" step="1"
                        tabindex="-1" aria-hidden="true" aria-label="Font size" ng-model="editorState.params.metric.style.fontSize">
                      </div>
                    </div>
                  </div>
                  <div class="euiSpacer euiSpacer--s"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="euiSpacer euiSpacer--s"></div>
    </div>
  </div>
</div>
